.heading-clossline {
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -7px;
    width: 2px;
    height: -webkit-calc(100% + 14px);
    height: calc(100% + 14px);
    background-color: black;
  }
  &::before {
    left: 7px;
  }
  &::after {
    right: 7px;
  }
}
