.menu-underline {
  ul {
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
  }
  li {
    display: table-cell;
    min-width: 50px;
  }
  a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
    padding-bottom: 5px;
  }
  li.current {
    border-bottom: 3px solid #92d050;
  }
  li:hover {
    color: #e7da66;
    border-bottom: 3px solid #f0e475;
  }
}
