.menu-icon {
  ul {
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  ul li {
    display: inline-block;
    position: relative;
    padding-right: 15px;
    margin-right: 10px;
  }
  ul li a::after,
  ul li a::before {
    display: block;
    content: ”;
    position: absolute;
  }
  ul li a::after {
    top: 10%;
    right: 0;
    width: 13px;
    height: 13px;
    background-color: #ccc;
    border-radius: 100%;
  }
  ul li a.current::after,
  ul li a:hover:after {
    background-color: #3498db;
  }
  ul li a::before {
    z-index: 2;
    top: 40%;
    right: 5px;
    width: 5px;
    height: 5px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  ul li a {
    text-decoration: none;
    color: #aaa;
    display: inline-block;
    width: 100%;
  }
  ul li a.current {
    color: #555;
  }
  ul li a:hover {
    color: #555;
  }
}
