<footer>
    <ul>
        <li onclick="location.href='/terms'">利用規約</li>
        <li onclick="location.href='/privacy'">プライバシーポリシー</li>
        <li onclick="location.href='/low'">特定商取引法に基づく表記</li>
        <li ><a href="https://holo-x.co.jp/contact.html">お問い合わせ</a></li>
    </ul>
    <p>© 2021 イベイク</p>
</footer>