<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="../images/eveiku_icon/eveiku_icon.png">
<title>
    <%- title %> | イベイク
</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="/stylesheets/reset.css">
<link rel="preconnect" href="https://fonts.gstatic.com">

<link rel="stylesheet" href="/stylesheets/<%- style %>.css">
<link rel="stylesheet" href="/stylesheets/organized-event.css">
<link rel="stylesheet" href="/stylesheets/sidebar_partial.css">
<link rel="stylesheet" href="/stylesheets/footer_partial.css">
<link rel="stylesheet" href="/stylesheets/header_partial.css">
<link rel="stylesheet" href="/stylesheets/layout.css">