<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include('./partial/latest/head_partial',{key:'build-page',title:'build9',avatar: avatar, name:
        name,style:"home",title:"アナリティクス" }) %>
</head>

<body>
    <%- include('./partial/latest/header_partial',{key:'build-page',title:'build9',avatar: avatar, name: name }) %>
        <%- include('./partial/latest/sidebar_partial',{key:'build-page',title:'build9',avatar: avatar, name:
            name,now:"home" }) %>
            <main>
                <h1 style="font-size: 3rem; display: flex;
                    justify-content: center;  margin-top: 14rem; margin-left: -20rem;">
                    アナリティクス機能は準備中です</h1>
            </main>
</body>

</html>