<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    特定商取引法に基づく表記
•	利用規約
•	プライバシーポリシー
•	特定商取引法に基づく表記
【販売事業者】
①社名
Holo-X Inc.
②住所
東京都渋谷区道玄坂2丁目10-12 
新大宗ビル3号館　HiveShibuya 531号
③代表
CEO鷲尾圭登
COO 三好宏明

【役務提供事業者】
①社名
株式会社ホロックス　（英文表記：Holo-X Inc.）
②住所
東京都渋谷区道玄坂2丁目10-12 
新大宗ビル3号館　HiveShibuya 531号

【運営責任者】
〇代表
代表取締役CEO鷲尾圭登
代表取締役COO三好宏明

【お問合せ先】
営業時間: 10:00 ~ 18:00 (土日祝日、年末年始、GWを除く)
[メール]
 問い合わせフォーム

【サービス名】
「イベイク」

【商品代金】
チケット毎に税込み価格で表示しております。

【代金の支払方法と時期】
1．支払方法
クレジットカード決済
2．支払時期
（1）クレジットカード払いの場合
請求先情報の入力画面にて、クレジットカード払いにおける必要情報を入力し、購入確定時に与信処理および決済を行います。

【商品引渡時期】
決済手続き後、メール送信を行うことでチケット引渡が完了します。 　　　　
　　　　　　　　　　　
【返品・キャンセルについて】
商品の性質上、原則、商品の返品・キャンセルはお受けしておりません。


</body>
</html>