<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/build-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <title>preview</title>
    <style>
        header {
            background-color: #f2cc19;
            width: 100%;
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            /* position: fixed; */
            /* top: 0; */
            z-index: 99;
        }

        header>p {
            font-size: 1.5rem;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <header>
        <p>プレビューです</p>
    </header>
    <main>
        <%- html %>
    </main>
    <script type="text/javascript" src="/js/common.js"></script>
</body>

</html>