<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    イベイク　プライバシーポリシー
Holo-X Inc.(以下当社とする)は、個人情報の重要性を尊重し、その保護の徹底を図るために、個人情報の保護に関して適用される法令を遵守するとともに、以下のとおりプライバシーポリシーを設定いたします。



1. 個人情報の管理について
プライバシーポリシーは、本サイトのサービス利用時に適用されます。また個人情報はプライバシーポリシーにしたがって、管理責任者の責任の下、適切な管理を行うものとします。なお当社は個人情報の不正アクセス、紛失、破壊、改ざん及び漏洩などを予防するとともに、万一の場合には速やかな是正措置を行います。



2. 個人情報の収集について
当社は下記における目的を遂行する場合に、個人情報の収集を行います。個人情報の収集は、合理的に必要な範囲に限定するものとし、お客様の判断で、ご自身の個人情報を提供頂けるよう明示するものとします。

お客様がご自身の個人情報の提供を希望されない場合、又新たな利用目的への利用に同意されない場合は、個人情報が不可欠なサービスはご利用頂けない事がありますのでご了承下さい。


1.	当社の運営するサービスをご利用頂いた場合
当社は、お客様に対し、会員登録手続きを通じて、会員の氏名及びEメールアドレス（以下「会員情報」といいます。）の提供をお願いするほか、イベント主催者がそのイベントページにおいて必要に応じて作成する参加者に対するアンケートフォームを通じて、お客様から、住所、電話番号、会社名、役職その他主催者が必要と認める個人情報（以下「イベント主催者が必要とする参加者情報」といいます。）を取得します。また、有料チケットの購入やチケット販売代金の払い出しは、第三者企業が提供する決済サービスの利用を要するため、それぞれの規定に従いその他個人情報を登録する必要があります。さらに、本サイトにログインする際に第三者企業のアカウントを使用する場合は、それぞれの第三者企業のプライバシーポリシーが適用されます。
2.	当社にお問い合わせを頂いた場合
問い合わせにお答えする為に必要な氏名、Eメールアドレス、電話番号を含む連絡先などの個人情報の提供をお願いしております。

3. 個人情報の使用目的
当社は、原則として下記の6つの目的で会員情報を含むお客様の個人情報（ただし、イベント主催者が必要とする参加者情報を除きます。）を使用します。下記以外の目的でこれを使用する際は、別途このページあるいは当社のサービス上で掲示いたします。


1.	サービスを安全かつ確実に提供するために使用します。
2.	サービス向上のための参考資料として使用します。
3.	会員向けサービスをより充実したものにするために使用します。
4.	特別なサービスや新しい資料などの情報をお知らせするために使用します。
5.	必要に応じてお客様と連絡をするために使用します。
6.	利用状況や利用環境などに関する調査を実施するために使用します。
当社は、以下の「4. 個人情報の開示及び共有」に記載された条件で開示又は共有する場合を除き、イベント主催者が必要とする参加者情報を、当社の事業のために使用することはありません。



4. 個人情報の開示及び共有
1.	当社は、会員情報及びイベント主催者が必要とする参加者情報を含むお客様の個人情報を、次の場合を除き、第三者に対し開示しません。
i.	会員本人の同意がある場合。
ii.	法令に基づく場合
iii.	人の生命、身体又は財産の保護のために必要である場合であって、会員本人の同意を得ることが困難であるとき
iv.	公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき
v.	国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき。
2.	当社は、イベント主催者に対し、以下のいずれかの目的で、当社で保有する会員情報及びイベント主催者が必要とする参加者情報を含むお客様の個人情報を、当該イベント主催者又は当社との間で共同開発契約、事業提携契約その他当社のサービスに関して協業することを内容とする契約を締結した第三者（以下「協業先となる第三者」といいます。）*に提供し、これをイベント主催者又は協業先となる第三者と共同して利用することがあります。なお、この共同利用に際してイベント主催者又は協業先となる第三者に対し提供される個人情報の管理については、当社及び当該イベント主催者又は当該協業先となる第三者になります。
i.	イベント主催者において、その開催するイベントにおける参加者を管理すること。
ii.	イベント主催者において、その開催するイベントに参加する予定の又は参加した会員に対し、連絡をとること。
iii.	当社と協業先となる第三者の協業により、当社のサービスを安全かつ確実に提供すること。
iv.	当社と協業先となる第三者の協業により、会員向けサービスをより充実したものにすること。
v.	当社と協業先となる第三者の協業により、特別なサービスや新しいサービスを提供すること。
*現在、該当する第三者はございません。




5. 広告・情報配信サービスに関連するクッキーについて
1.	当社はクッキー技術を利用したデータ解析による様々な広告配信、情報配信サービスの最適化を実施しています。なお、このクッキーには、ユーザー個人を特定・識別する情報は一切含まれず、クッキーによって取得されるサイト上行動履歴情報は、本サービスの提供やマーケティング活動に利用する目的のみに使用され、その他の目的には使用されません。なお、具体的な利用目的は以下の通りです。

アドネットワークやDSP事業者等の広告プラットフォームと連携した広告配信の最適化のための解析
2.	ユーザーは「オプトアウト」を行うことで、を利用した解析を無効化することが可能になります。オプトアウトを行うには下記のサービスサイトをクリックしてください。

「BIG MINING」サービスサイトへ　http://bi.garage.co.jp/about/privacypolicy/optout
※注意事項※
クッキーはブラウザ毎に設置されます。複数の端末（PC、タブレット、スマートフォンなど）や、複数のウェブブラウザ（Google Chrome、Internet Explorerなど）から当サイトをご利用になる場合は、ウェブブラウザ毎にオプトアウトを行っていただく必要があります。オプトアウトを行ったユーザーのウェブブラウザには、オプトアウトしたことを知らせるためのクッキーが置かれます。ユーザーがウェブブラウザからこのクッキーを削除した場合、再度オプトアウトを行っていただく必要があります。



6. ダイレクトメール
利用規約に同意頂いた方には有益と思われる情報をご登録いただいたEメールアドレスにお送りします。なお、ダイレクトメールを拒否することも可能です。



7. 個人情報の変更、取消について
お客様から個人情報の内容確認や訂正のお申し出があった場合は適切・迅速に対応いたします。



8. セキュリティについて
お客様の個人情報は、プライバシー保護およびセキュリティのためパスワードで保護されています。また、お客様の情報が送信される際のセキュリティのために、SSL (Secure Socket Layer)を使って、入力される情報を暗号化するなど個人情報の消失、変更、毀損などを防ぐために技術対策をしております。但し、一般的にインターネット経由のデータ送信は100％安全とはいい切れません。本サイトでは会員の個人情報保護のために最善を尽くしておりますが、本サイトのサービスとして提供される情報のセキュリティー全てを確実に保証することはできかねます点ご了承ください。



9. 免責
以下の場合には、当社にご提供いただいたお客様の個人情報を、上記「4. 個人情報の開示及び共有」に規定される事由以外の事由によって第三者が取得したことに関し、当社は何らの責任を負いません。


1.	会員が本サイトのサービス機能を用いて第三者に個人情報を明かした場合
2.	会員が本サイトのサービス上に入力した情報等により、個人が識別できてしまった場合
3.	個人情報を含むコンテンツをアップロードした場合
4.	イベント主催者又は協業先となる第三者が個人情報取扱事業者に該当する場合において、それぞれが個人情報取扱事業者として遵守すべき義務遵守を怠った場合
5.	前項に定めるほか、上記「4. 個人情報の開示及び共有」に規定されるところに従って当社からお客様の個人情報の開示又は提供を受けた第三者が、その故意又は過失により、当該第三者が保有するお客様の個人情報を違法に開示し、又は漏えいさせた場合



10. プライバシーポリシーの改訂について
当社は本プライバシーポリシーについて適時見直しを行い改訂する事があります。重要な変更がある場合にはサイトにてお知らせします。



11. その他ご留意いただきたい点について
本ページ記載事項は、当社、会員との間において効力を持つものであり、本ページのリンク先を含む第三者に適用されるものではありません。本ページに関するお問い合わせは下記までお願いいたします。
⇒お問い合わせ



更新日：令和3年4月1日
Holo-X Inc.


</body>
</html>