<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    イベイク サービス利用規約
総則
「イベイク」（以下「本サイト」といいます。）のサービス（以下「本サービス」といいます。）は、Holo-X Inc.（以下「当社」といいます。）が提供するプラットフォームを利用して運営されています。本サービスは、イベイク サービス利用規約（以下「本規約」といいます。）並びにこれに付随する各種個別規定（第2条で定義されます。）及びガイドライン等（以下、本規約、個別規定及びガイドライン等を総称して「本規約等」といいます。）に基づいて提供されます。


第 1 条（規約の適用）
本規約は、Holo-X Inc.が運営する本サイトのすべてにおいて、会員があるイベント（開催場所が日本国内であるか否かを問いません。）のチケットに関して本サイトを利用する場合に、当該会員と当社との間に適用されます。本規約は、これに付随する個別規定、ガイドライン等の諸規定と共に重畳的に適用され、個別規定、ガイドライン等の諸規定は、本規約の一部を構成します。会員は、本サービスを利用することにより、本規約等及びプライバシーポリシーの全ての項目に同意したこととみなされます。


第 2 条（用語の定義）
1.	「会員」とは、本規約等に同意の上、本サイトに会員登録をした個人および団体をいいます。
2.	「主催者」とは、本サービスを利用してグループまたはグループ内におけるイベントあるいはコミュニティを主催する者をいいます。
3.	「参加者」とは、会員であって本サービスを利用してグループまたはイベントあるいはコミュニティに参加する者をいいます。
4.	「イベント」とは、本サイト内で特定のグループ内で作成されたイベントをいいます。
5.	「チケット」とは、本サイトで作成されたイベントあるいはコミュニティに参加することを可能にする電子媒体、もしくはそれを印刷した媒体をいいます。
6.	「グループ」とは、主催者によって本サイト上で作成された、主催者並びに主催者が主催するイベントに参加した者及びこれに参加することを希望する者で構成される会員の総体をいいます。
7.	「有料チケット」とは、チケットのうち、主催者が本サイトのサービスを利用して発行する有料のチケットをいいます。
8.	「無料チケット」とは、チケットのうち、主催者が本サイトのサービスを利用して発行する無料のチケットをいいます。
9.	「取引」とは、会員が本サイトを通じて行う有料チケットの購入、無料チケットの取得をいいます。
10.	「個別規定」とは、参加者向け個別規定（以下「参加者規定」といいます。）、主催者向け個別規定（以下「主催者規定」といいます。）をいいます。


第 3 条（当社の役割）
当社は、第三者である主催者と参加者が取引を成立させ、代金を決済する場を提供します。当社は主催者と参加者との間の実際の取引には関与するものではありません。したがって、取引成立時には、主催者と参加者間に契約が成立することになります。また、会員である主催者と他の会員との間又は会員相互の間で紛争が生じた場合(イベントが中止された場合の返金を含みます)でも、当該紛争については当該会員間で解決するものとし、当社は一切の責任を負わないものとします。


第 4 条（会員資格及び会員登録手続）
本規約等及びプライバシーポリシーに同意のうえ所定の入会申込みをされた個人及び団体は、所定の登録手続完了後に会員としての資格を有します。会員登録手続は、会員となる本人（会員となるものが団体の場合には、当該団体から会員登録手続きについて適法に授権された者）が行ってください。代理による登録は一切認められません。また、13歳未満の方は本サイトに会員登録することはできません。20歳未満の方は、必ず保護者の方の同意を得てから、入会申し込みを行ってください。なお、13歳以上20歳未満の方による入会申し込みを受けた場合、保護者の方の同意を得たものとして取り扱うこととし、また、当社は、過去に会員資格が取り消された方や当社が相応しくないと判断した方の会員登録をお断りする場合があります。


第 5 条（会員情報の入力）
会員登録手続の際には、必要事項を正確に入力してください。


第 6 条（ユーザー名及びパスワードの管理）
ユーザー名及びパスワードは、他人に知られることがないよう定期的に変更する等、会員本人が責任をもって管理してください。入力されたユーザー名及びパスワードが登録されたものと一致することを所定の方法により確認した場合、当社は、会員による利用があったものとみなし、それらが盗用、不正使用その他の事情により会員以外の者に利用されている場合であっても、それにより生じた損害について当社は一切責任を負いません。


第 7 条（登録情報の変更）
登録した情報に変更が生じた場合は、速やかに変更をお願いします。登録内容の変更がなされなかったことにより生じた損害について、当社は、一切責任を負いません。また、変更がなされた場合でも、変更前にすでに成立した取引は、変更前の情報に基づいて行われます。


第 8 条（会員の退会）
会員が主催者で、当該会員が本サービス上で既にイベントを公開しており、かつ、当該イベントが終了していない場合を除き、会員が退会を希望する場合、当該会員は、本サービス上で、すみやかに退会の申請を行うこととします。退会を希望する会員は、所定の退会手続きが完了した後に、退会となります。


第 9 条（環境設定）
1.	本サービスを会員が利用するために必要なあらゆる機器、設備、ソフトウェア及び通信手段は、会員自身の責任と費用において適切に準備又は設置し、操作するものとします。
2.	当社は会員の本サイト及び本サービスに対するアクセス環境について一切関与せず、それに関する一切の責任を負わないものとします。


第 10 条（当社の免責）
1.	会員が本サービスを利用するにあたって、通信回線やコンピュータなどの障害によるシステムの中断、遅滞、中止、データの消失、もしくはデータへの不正アクセスにより生じた損害その他本サービスに関して会員に生じた損害について、当社は一切責任を負わないものとします。但し、当該損害の発生について、当社に故意又は重過失が存在する場合はこの限りではないものとします。
2.	当社は、当社のウェブページ、サーバ、ドメインなどから送られるメールコンテンツに、コンピュータウィルスその他の会員のコンピュータ、デバイス、端末に対して有害な影響を生じさせるプログラムが含まれていないことを保証するものではなく、当社のメールコンテンツにそのようなプログラムが含まれていたことに起因して会員に損害が生じた場合であっても、当社は一切責任を負わないものとします。
3.	当社は、会員に対し、適宜情報提供やアドバイスを行うことがありますが、それにより責任を負うものではありません。
4.	会員が本規約等に違反したことによって生じた損害については、当社は一切責任を負いません。
5.	本サイト及び本サービスにて提供されているイベントの内容に関して、当社は一切の責任を負いません。
6.	本サイト及び本サービスにて提供される全ての情報（本サービスに関連して送信される電子メール等により提供される情報等、及び本サイト上に表示される、第三者が管理・運営するリンクサイト内に含まれる一切の情報等を含みます。）に関する、有用性、適合性、完全性、正確性、安全性、合法性、最新性等について、当社は一切責任を負いません。
7.	当社は、本サービスを提供するにあたって、本サービスについて不具合、エラー、障害その他の問題が生じないことを保証するものではありません。
8.	本サービスの利用又は利用不能により生じる一切の損害（直接又は間接を問わず、また金銭的損害か精神的損害かを問いません。）について当社は一切の責任を負わないものとします。但し、当該損害の発生について、当社に故意又は重過失が存在する場合はこの限りでないものとします。
9.	本サービスに関して会員間又は会員及び第三者との間で発生した一切のトラブル及び紛争については、会員の責任において処理及び解決するものとし、当社はかかる事項について一切責任を負いません。


第 11 条（禁止事項）
会員は、本サービスを利用するにあたり、以下の各行為をしてはならないものとします。
1.	法令、ガイドライン、指針、本規約等、本サイトの利用上の注意その他本サービスに関して適用のある規約等に違反すること
2.	当社にサービスを提供する会員及び第三者の権利、名誉等を損ねること
3.	青少年の心身に悪影響を及ぼす恐れがある行為
4.	有害なコンピュータプログラム、メール等を送信又は書き込むこと
5.	ユーザー名及びパスワードを第三者に貸与もしくは譲渡すること、又はこれらを第三者と共用すること
6.	当社から事前に許可を得ることなく、提供情報の一部又は全部を複製、複写、送信、転載、配布、頒布等の方法により、第三者に提供すること
7.	選挙期間中であるか否かを問わず、選挙運動又はこれに類する行為
8.	当社又は第三者の著作権、商標権等の知的財産権を侵害する行為
9.	前項に定めるほか、当社又は第三者の財産権、プライバシー権、肖像権その他の権利を侵害する行為
10.	公序良俗に反する行為
11.	自己又は他人の名称、住所、電話番号、電子メールアドレス等について、意図的に虚偽の情報を登録する行為
12.	イベント情報等に虚偽又は不正確な内容を書き込む行為
13.	本サービスの機能や情報の正確性に関する問い合わせ又はクレームを投稿する行為
14.	当社が意図する本サービスの目的以外に本サービスを利用する行為
15.	当社又は第三者に対する迷惑行為
16.	詐欺、規制薬物の濫用、売買春、マネーロンダリング等の犯罪に結びつく、又は結びつくおそれのある行為
17.	サイト外取引についての優遇措置の表示その他の方法により顧客を本サービス外の取引に誘引する行為
18.	その他当社が不適切と判断する行為


第 12 条（会員情報の取り扱い）
会員情報につきましては、当社のプライバシーポリシーに従い当社が管理します。当社は会員情報を会員への本サービス提供、本サービス内容の向上、本サービスの利用促進（ダイレクトメールを含みます。）、及び本サービスの健全かつ円滑な運営の確保を図る目的のために、当社において利用することができるものとします。対象となる会員情報は、会員登録の際に会員が記入したすべての情報とします。


第 13 条（特定会員の利用停止・会員資格取消）
当社は、特定の会員が次のいずれかに該当すると判断した場合には、事前に通知することなく当該会員によるサービスの利用停止、当該会員のユーザー名及びパスワードの変更、又は当該会員の会員資格の取消しを行えるものとします。これにより会員に何らかの損害が生じたとしても、当社は一切責任を負わないものとします。
1.	法令及び本規約等に違反する行為があった場合
2.	当該会員に本サービス利用に関して不正行為があった場合
3.	一定回数以上のパスワードの入力ミスがあるなどセキュリティ保護に問題があった場合
4.	他の会員のユーザー名及びパスワードを利用した場合
5.	他の会員のコンテンツを事前同意なく出版及び放送などに提供した場合
6.	当該会員の登録情報に虚偽の事実があることが判明した場合
7.	その他当社が適当と判断した場合


第 14 条（サービスの中断・変更・廃止）
当社は、その判断により本サービスの全部又は一部を中断、変更又は廃止できるものとします。本サービスの一時的な停止若しくは終了又は本サービスのサービス内容等の変更により、会員又は第三者に損害が発生した場合でも、当社は一切の責任を負いません。


第 15 条（再委託）
当社は本規約等に定める自己の業務の全部又は一部を、第三者に再委託することができるものとします。


第 16 条（個人情報の取扱い）
1.	当社は、別途掲示する「プライバシーポリシー」に基づき会員の個人情報を取扱うものとし、会員は本条項に同意のうえ、本サービスを利用するものとします。
2.	会員は、以下の各号のいずれかに該当する場合に、当社が当該各号に定める者に会員の個人情報を提供することにあらかじめ同意するものとし、かかる提供が行われた場合には、これに対し異議を述べないものとします。
i.	会員が希望する情報やサービスを提供するために第三者に対し個人情報の開示が必要と認められる場合　当該主催者
ii.	本サイトを通じて当社が取得した会員の氏名、電子メールアドレスを、主催者が必要とし、当社がこれを認めた場合　当該主催者
iii.	裁判所や警察等の公的機関から法律に基づく正式な照会を受けた場合　当該公的機関
iv.	本サイトのサイト上での会員の行為が利用規約やガイドラインなどに反し、本サイトの権利、財産やサービス等を保護するため必要と認められる場合　当社が必要と認める第三者
v.	会員、公衆の生命・健康・財産などの重大な利益保護のため個人情報の開示が必要な場合　重大な利益を保護するために必要と認められる第三者
vi.	代金の決済、出金手続き等において金融機関に照会が必要な場合　当該金融機関
vii.	法令により開示または提供義務が定められている場合　法令により提供が義務付けられている者
viii.	当社が子会社または当社の事業部門を売却する場合　当該売却の相手方
ix.	当社との間で共同開発契約、事業提携契約その他当社のサービスに関して協業することを内容とする契約を締結した第三者　当該第三者*
*現在、該当する第三者はございません。
第 17 条（広告掲載）
当社は、本サイトに適切と判断される広告を掲載することができます。本サイトに掲載されている広告によって、会員等及び第三者に損害が生じた場合であっても、当社は一切責任を負いません。


第 18 条（本規約等の改定）
当社は、本規約等を任意に改定できるものとし、本規約等を補充する規約を定めることができるものとします。本規約等の改定又は補充は、その内容を当社所定のサイトに掲示したときにその効力を生じるものとします。この場合、会員は改定後の本規約等及び補充された本規約等に従うものとします。


第 19 条（準拠法、合意管轄）
本規約等は、①本サービスを利用する対象となるイベントが日本国内で開催される場合には、日本法に基づき解釈されるものとし、この場合において本規約等に関し訴訟の必要が生じたときには、東京地方裁判所を第一審の専属的合意管轄裁判所といたします。他方、②本サービスを利用する対象となるイベントが日本国外で開催される場合には、本規約等は、米国ニューヨーク州法に基づき解釈されるものとし、この場合において本規約等に関し訴訟の必要が生じたときには、米国ニューヨーク州に所在する連邦裁判所又は州裁判所で行われるものとします。



参加者向け個別規定
第 1 条（サービスの利用申し込み）


1.	参加者規定は、当社が別途規定する本規約に付随して、参加者が無料チケットを取得し、又は有料チケットを購入するにあたり、会員と当社との本サービスの利用及び運営等にかかる一切の事項に適用されるものとし、会員は参加者規定を確認及び承諾の上、本サービスを利用するものとします。当社は、参加者が無料チケットを取得し、又は有料チケットを購入した時点で、参加者規定の全ての記載内容に同意したものとみなします。参加者規定に別途定義される用語を除き、参加者規定において用いられる用語は、本規約において定義される用語と同一の意味を有するものとします。
2.	当社は、会員の承諾を得ることなく参加者規定を変更することができるものとします。変更後の参加者規定は、当社が別途定める場合を除いて、本サイト上で表示された時点より効力を生じるものとし、会員が、参加者規定の変更の効力が生じた後に本サービスを利用した場合には、変更後の参加者規定の全ての記載内容に同意したものとみなされます。


第 2 条（チケットの販売の価格）
本サイトでは、主催者がその主催するイベントに係るチケットを作成及び販売しています。イベント内容並びにチケットの販売枚数及び販売価格は主催者が決定します。なお、本サイトで表示される有料チケットの販売額は税込価格となります。


第 3 条（チケットの発行）
チケットの購入を希望する場合は、当社が定める利用規約及びプライバシーポリシーを予め確認及び承諾の上、本サービス所定の方法で申し込み手続きを行うものとし、チケットの申し込み手続き完了後、当社から注文完了メールが送信された段階で取引が成立し、当該チケットが有料チケットである場合には、その時点で、当該チケットに係るイベントの主催者及び当該チケットの申し込みを行った者との間で、当該チケットに係る売買契約が成立したものとみなします。なお、チケットは当社が提供する参加者向けスマートフォンアプリケーション内、もしくは本サイト上の所定のページ上に電子的に表示されます。当社は、会員が会員の責めに帰すべき事由（チケットの申し込み手続き時に送信された情報の誤りを含みます。）によりチケットの受取が遅延すること、又は当該遅延によって発生する損害等について、一切の責任を負いません。


第 4 条（イベントの問い合わせ）
イベント内容に関する問い合わせは参加者が主催者に対して直接行うものとし、当社はこれに関与しないものとします。


第 5 条（チケットの返品・キャンセル）
商品の性質上、原則、参加者によって購入又は取得されたチケットの商品の返品及びキャンセルをすることはできません。


第 6 条（イベント中止時の責任と払戻し）
主催者の事情によりイベントが中止された場合は、当社は、当該中止を告知することを含め一切の責任を負いません。 主催者の事情によりイベントが中止となり、主催者が当社所定の方法でイベントのキャンセル手続きを行った場合は、当社は、購入した有料チケット代金の払い戻しを、当社所定の方法でおこないます。イベントの中止や不開催によりチケット代金の払戻しを行う場合、クレジットカード決済の場合は各クレジットカード会社を通して払い戻しをいたします。


第 7 条（転売の禁止）
購入又は取得されたチケットは、第三者に対して転売することができず、また、転売を目的として第三者に提供できません。これらに違反してチケットが第三者に転売又は提供されたことが判明した場合、当該チケットを無効とし、当該チケットに係る代金の返金及びイベントへの入場を認めない場合があります。また、当社の判断により、当該チケットの購入又は取得に用いられたアカウントの利用を停止する場合があります。当社は本サイト以外のサイト、チケットショップ、ダフ屋等から本サイトで購入又は取得できるチケットを入手した場合に生じた問題については、一切の責任を負いません。

主催者向け個別規定
第 1 条（サービスの利用申し込み）


1.	主催者規定は、当社が別途規定する利用規約に付随して、会員がイベント情報の登録及びチケットの発行を行うにあたり、会員と当社との本サービスの利用及び運営等にかかる一切の事項に適用されるものとし、会員は主催者規定及び当社が別途規定する参加者向け個別規定（以下、「参加者規定」といいます。）を確認及び承諾の上、本サービスを利用するものとします。当社は、会員が本サービスを利用した時点で、会員が本規約等の全ての記載内容に同意したものとみなし、当社及び会員の間に、本規約等に基づいて本サービスの利用に係る契約が成立したものとみなします。主催者規定に別途定義される用語を除き、主催者規定において用いられる用語は、本規約において定義される用語と同一の意味を有するものとします。
2.	当社は、会員の承諾を得ることなく主催者規定を変更することができるものとします。変更後の主催者規定は、本サイト上で表示された時点より効力を生じるものとし、会員が主催者規定の変更の効力が生じた後に本サービスを利用する場合には、変更後の主催者規定の全ての記載内容に同意したものとみなされます。


第 2 条（個人情報の取扱い）
1.	主催者が、チケット及び会費・支援金サービスを販売、利用又は提供するにあたって、本サイトを通じて個人情報を取得する場合は、個人情報保護法が定める個人情報取扱事業者としての義務等を遵守しなければならないものとします。また、主催者・が、チケット及び会費・支援金サービスを販売又は提供するにあたって、参加者との間で別途合意を行う場合、自己の責任においてこれを行うものとし、当社は、当該合意について、何ら責任を負わないものとします。主催者は、本規約等と矛盾又は抵触等する合意を参加者との間で結ぶことはできないものとします。
2.	主催者は、当社が、主催者に対し、本規約第16条第2項第(2)号の規定又はプライバシーポリシー4.2.(1)又は(2)に基づき、当該主催者が主催するイベントに参加する参加者の氏名及び電子メールアドレスを提供した場合には、かかる氏名及び電子メールアドレスを、当該イベントにおける参加者の管理その他当該イベントに必要な範囲に限って使用するものとします。
3.	主催者において、主催されたイベントに必要な範囲を超えて当該イベントの事前又は事後に当該イベントへの参加者に連絡を取ることを希望する場合には、主催者は、その利用目的を開示した上で、主催者が当該イベントに係るイベントページにおいて作成することのできる参加者に対するアンケートフォームを通じて、参加者から、電子メールアドレス、住所、電話番号その他主催者が必要と認める個人情報を取得するものとし、当社から提供を受けた氏名及び電子メールアドレスを、かかる目的のために利用しないものとします。


第 3 条（イベント及びチケットの提供）
主催者は、本サービスを通じて作成したイベント及びチケットの内容に従い、参加者に対し、自らの責任で当該イベントを提供するものとします。また、参加者に提供するイベントに瑕疵があった場合や、瑕疵により参加者からのクレーム等が生じた場合は、主催者は、自己の責任と費用で参加者に誠実に対応し、当社に一切の迷惑をかけないものとします。但し、当社は、当社の判断により、主催者に対する事前の通知なく、参加者からのクレーム等に対し、主催者に代わり対応できるものとします。なお、当社は、当該対応に要した費用を主催者に請求することができるものとし、主催者は、これを直ちに補償することにつき予め承諾するものとします。


第 4 条（イベント提供時の表示）
主催者は、本サービスを通じて作成したイベントを参加者に対して提供するにあたり、参加者に対し、以下の事項を明示しなければならないものとします。
1.	主催者は、当社の決済プラットフォーム及び商号を用いて、有料イベントの参加者に対して、有料チケットの通信販売を行う者である旨。
2.	当該通信販売を行うにあたって利用されるクレジットカードの決済の対象となるものは、当社と参加者との間に発生する当社の参加者に対する立替払い債権であり、主催者と参加者との間の代金債権ではないこと。


第 5 条（問い合わせ対応）
1.	主催者は、本サイト及び本サービス上で登録した情報に関連し、当社、会員又は第三者から問い合わせがあった場合には、これに対し、速やかに対応をするものとします。
2.	当社、会員又は第三者からの問い合わせに対し、主催者が対応を怠たり、本サービスの運営に支障が及ぶと当社が判断した場合には、主催者の意向に関わらず、当社が該当問い合わせについて対応できるものとします。


第 6 条（イベントの審査・停止）
主催者が無料チケットの申込受付、及び有料チケットの販売受付を伴うイベントを作成した場合、当社は本規約等で定められた基準を基にイベント内容の審査を行います。当社は、特定のイベントが次のいずれかに該当すると判断した場合には、事前に通知することなく当該会員による本サービスの利用停止、当該会員のユーザー名及びパスワードの変更、当該会員の会員資格の取消し、又は当該イベントの停止及び削除を行えるものとします。これにより会員に何らかの損害が生じたとしても、当社は一切の責任を負わないものとします。


1.	法令、本規約等に違反するものである場合
2.	本サービスの利用に関する不正行為に基づき作成されたものである場合
3.	特定の思想・宗教への勧誘などを目的とするものである場合
4.	性行為、わいせつな行為、面識の無い異性との出会い等を目的とするなど、公序良俗に反する内容のものである場合
5.	登録情報に虚偽の事実又は不正確な情報が含まれているものである場合
6.	当社にサービスを提供する会員及びその他第三者の権利、名誉等を損ねるものである場合
7.	有害なコンピュータープログラム、メール等を送信又は書き込むものである場合
8.	当社から事前の許可を得ることなく、本サイト及び本サービス上で提供される情報の一部又は全部を複製、複写、送信、転載、配布、頒布等の方法により、第三者に提供するものである場合
9.	選挙期間中であるか否かを問わず、選挙運動又はこれに類する行為を含むものである場合
10.	当社又は第三者の著作権、商標権等の知的財産権を侵害する行為を含むものである場合
11.	前項に定めるほか、当社又は第三者の財産権、プライバシー権、肖像権、その他の権利を侵害する行為を含むものである場合
12.	本サービスの機能や情報の正確性に関する問い合わせ又はクレームを投稿する行為を含むものである場合
13.	当社が意図する本サービスの目的以外で本サービスを利用するものである場合
14.	当社又は第三者に対する迷惑行為を含むものである場合
15.	詐欺、規制薬物の濫用、売買春、マネーロンダリング等の犯罪に結びつく、又は結びつくおそれのあるものである場合
16.	サイト外取引についての優遇措置の表示、その他の方法により顧客を本サービス外の取引に誘引する行為を含むものである場合
17.	その他当社が不適切と判断した場合


第 7 条（イベントの中止・キャンセル）
主催者が、本サービス上にて公開したイベントを、その終了前にやむを得ず中止する場合、当社所定の方法により画面の指示に従って当該イベントのキャンセル手続きを行ってください。主催者が当該イベントのキャンセル手続きを行った場合、イベントの中止を通知するメールが、当該イベントに係るチケットを購入又は取得済みの会員に自動配信され、当該チケットは無効となります。また、有料チケットの販売を含むイベントが中止となり、主催者が当社所定の方法でイベントのキャンセル手続きを行った場合、当社が定める返金手数料については、その全額を主催者が負担するものとし、PAY.JPを通じて支払うものとします。また、有料チケットを購入した会員に対しては、購入代金の全額を当社より返金いたします。


第 8 条（アプリケーション及びインターネット接続）
本サービスにて購入又は取得されたチケットについて、当社が提供する主催者向けのアプリケーションや本サイト上で受付確認作業を行うには、インターネットに接続された状態のパーソナルコンピュータ又は本サービスが提供しているアプリケーションがインストールされたインターネットに接続可能な対応端末が必要です。パーソナルコンピュータ又は対応端末がインターネットに接続できる環境の確保は、主催者の費用と責任で行うものとします。また、通信回線やコンピュータ、サーバなどの障害により、当社が提供するアプリケーションや本サイトでの受付確認作業に支障が発生した場合であっても、当社は一切の責任を負わないものとします。


第 9 条（チケット販売代金の払い出し）


1.	日本、シンガポール、マレーシア、香港、米国、カナダ、オーストラリアで開催されるイベント
主催者が参加者に対し有料チケットの内容に基づくイベントを提供し、当社がそれを確認した後、5営業日以内に、当社は、チケットの販売代金から当社所定の決済処理費用を差し引いた金額（以下「支払金額」といいます。）を、主催者が本サイト上で指定した銀行口座へ支払います。 なお、当該銀行口座が日本国内の銀行の口座である場合には、当該支払いに要する送金手数料は、主催者が負担するものとします。また、当該銀行口座が日本国内の銀行口座で、主催者が本サイト上で指定した銀行口座情報の誤りにより当該支払いを行うことができず、再度支払いを要する場合には、当該支払いに要する送金手数料とは別に組戻し手数料を主催者が負担するものとします。
なお、香港、カナダ、オーストラリアの場合、有料イベントの初回注文から7営業日以内に、銀行口座情報を本サイト上に登録する必要があります。7営業日以内に銀行口座情報をご登録頂いていない場合、チケット販売が自動的に停止されます。香港、カナダ、オーストラリアで開催されるイベント向けの支払処理サービスは、Pay.JPが提供し、PAY.JP利用規約を含み、総称して「PAY.JPサービス契約」といいます。）に従うものとします。本規約への同意又は本サービスにおいて主催者としての取引の継続により、ユーザーはPAY.JPサービス契約（随時PAY.JPにより修正されることがあり、その場合には修正されたものを含みます。）に拘束されることに同意するものとします。 PAY.JPを通じた支払処理サービスを本サービスができるようにするための条件としてユーザーは、本サービスに対してユーザー及びユーザーの事業に関する正確かつ完全な情報を提供することに同意し、本サービスが当該情報及びPAY.JPが提供する支払処理サービスのユーザーによる使用に関連する取引情報を共有することを認めるものとします。
2.	日本、シンガポール、マレーシア、香港、米国、カナダ、オーストラリア以外の国で開催されるイベント
主催者が参加者に対し有料チケットの内容に基づくイベントを提供し、当社がそれを確認した後、5営業日以内に、当社は、支払金額を、主催者が本サイト上で指定したPAY.JPアカウントへ払い出しを行います。
3.	各国共通
本サイトにおいて、主催者が支払先に関する情報を登録していない場合は、当該情報の登録を当社が確認するまで、支払いを行いません。また、主催者が本サイト上で登録した支払先に関する情報に誤りがあり、それにより支払金額の受取が遅延した場合や損害が発生した場合であっても、当社は一切責任を負わないものとします。


第 10 条（主催者の表明及び保証）
1.	主催者は、当社に対し、主催者（主催者の役員及び従業員を含みます。）が、暴力団、暴力団員、暴力団員でなくなった時から5年を経過しない者、暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標ぼうゴロ又は特殊知能暴力集団等その他これらに準ずる者 (以下これらを「暴力団員等」といいます) 又は以下の各号のいずれにも該当しないことを、表明し、かつ、保証するとともに、将来においても、主催者及びがこれらのいずれにも該当しないこと、及び、自ら又は第三者を利用して第2項各号のいずれかに該当する行為を一切行わないことを、確約するものとします。 

また、主催者の故意過失を問わず、主催者がかかる表明及び保証に違反し、あるいは、かかる確約に違反した場合には、主催者は、(1)当社が主催者のイベントページを当社のサイトおよびサーバから削除すること、また、(2)当社が直ちに本規約等に基づく当社と主催者間の契約を解除し、主催者の会員資格を取り消すことについて、異議なく承諾するものとします。当社によるこれらの措置により主催者に何らかの損害が生じた場合でも、主催者は、当社に対し、何らの請求も行えないものとし、主催者においてその損害の一切を負担するものとします。また、かかる表明及び保証又は確約に違反して当社（当社の役員及び従業員を含みます）又は参加者（参加者の役員及び従業員を含みます）に何らかの損害が生じた場合には、主催者(ただし、主催者の役員及び従業員は含まないものとします)は、その一切の損害を賠償しなければならないものとします。
i.	暴力団員等が経営を支配していると認められる関係を有すること
ii.	暴力団員等が経営に実質的に関与していると認められる関係を有すること
iii.	自己、自社もしくは第三者の不正の利益を図る目的または第三者に損害を加える目的をもってするなど、不当に暴力団員等を利用していると認められる関係を有すること
iv.	暴力団員等に対して資金等を提供し、または便宜を供与するなどの関与をしていると認められる関係を有すること
v.	役員または経営に実質的に関与している者が暴力団員等と社会的に非難されるべき関係を有すること
2.	主催者は、当社に対し、自ら又は第三者を利用して次の各号に該当する行為を行わないことを確約するものとします。
i.	暴力的な要求行為
ii.	法的な責任の範囲を超えた不当な要求行為
iii.	取引に関して、脅迫的な言動をし、又は暴力を用いる行為
iv.	風説を流布し、偽計を用い若しくは威力を用いて当社の信用を毀損し、又は当社の業務を妨害する行為
v.	その他前各号に準ずる行為


第 11 条（主催者によるサービスの利用の停止等）
当社は、主催者が以下のいずれかの事由に該当する場合、又は、提携金融機関の要請があった場合には、主催者が当社のプラットフォームを通して参加者に提供しているイベントページが作成したグループまたはイベントに関するページの削除、本サービスの利用の停止その他必要な措置（法的措置を含みます）を取ることができるものとします。この場合において、主催者は、速やかに当社の指示に従い、改善措置をとらなければならないものとします。
1.	主催者が本規約等のいずれかに違反したとき（主催者が本規約第13条各項のいずれかに該当した場合を含みます）。
2.	主催者の有料チケットを購入した参加者から、主催者に対し、有料チケットに係るイベントの開催中止及び延期又は有料チケットの返金等に関する苦情が頻発したとき。
3.	その他当社が消費者保護の観点等からサービスの利用の停止等の措置が必要と判断したとき。


更新日：令和3年4月1日 Holo-X Inc.

</body>
</html>