<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/upload-img.css">
    <title></title>
</head>
<body>
    
    <div class="modal-form">
      <p>使用したい画像をアップロードしてください</p>
      <form action="/upload-img" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" accept=".png, .jpg, .jpeg" required>
        <input type="submit" class="icon-submit">
      </form>
    </div>
    <div class="modal-inner">
      <% for (var i = 0; i < img.length; i++) { %>
        <div class="item">
          <img src="<%= img[i].image %>" alt="">
          <p>画像番号<%= img[i].counter %></p>
          <form action="/upload-img/<%= img[i].counter %>" method="POST">
            <input class="use" type="submit" value="この画像を使う">
            <p class="path display-none" id="path"><%= img[i].image %></p>
          </form>
        </div>
      <% } %>
    </div>
</body>
</html>