@import "./variable.scss";

html {
  font-size: 62.5%;
  font-family: $NotoSansJP;
}

main {
  min-height: 100vh;
}

footer {
  background-color: $bg_white;
  padding: 2rem;
  // position: sticky;
  // bottom: 0;
  // width: 100%;
  ul {
    display: flex;
    justify-content: center;
    margin: auto;
    li {
      margin: 0 2rem;
      font-size: 1.3rem;
    }
  }
  p {
    margin-top: 1rem;
    text-align: center;
  }
}
