<!DOCTYPE html>
<html lang="ja">

<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--  <link rel="stylesheet" href='/stylesheets/complete.css'>-->
<!--  <title>pre-registration-complete</title>-->
<!--</head>-->
<%- include('../partial/header_pre-registration',{key:'complete',title:'事前登録完了'}) %>


<body>
  <main>
    <section class="pre-registration-complete">
      <h1 class="complete-title"><a href="/pre-register-top"><img src="/images/image1.png" alt="イベイク"></a>
      </h1>
      <p class="complete-text">この度はご登録<br class="sp">ありがとうございます。</p>
      <p class="complete-text">事前登録を<br class="sp">完了いたしました。</p>
    </section>
  </main>

</body>

</html>