<!DOCTYPE html>
<html lang="ja">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <link rel="stylesheet" href='/stylesheets/top.css'>-->
<!--    <title>pre-registration-top</title>-->

<!--</head>-->
<%- include('../partial/header_pre-registration',{key:'top',title:'イベイク|事前登録受付中!'}) %>

<body>
    <header>
        <h2 class="catch-title"><span id="catch-title">イベントをもっと簡単に</span></h2>
        <h1 class="header-img">
            <img src="/images/image1.png" alt="イベイク">
        </h1>

        <h2 class="title_header">withコロナ時代の<br><span class="underline">オンラインイベント</span><br class="sp">にもおすすめ</h2>
        <div class="btn_register">
            <p class="sp">イベントの全てを<br>サクッと管理</p>
            <a href="/pre-register-screen" class="aaa">
                <span class="pc">1分で</span><br class="pc">事前登録</a>
        </div>
        <!-- <div class="sp bar">
            <a href="/pre-register-screen" class="aaa">
                1分で<br>事前登録</a>
        </div> -->
    </header>
    <main>
        <section class="about_eveiku bg">
            <br>
            <h2 class="about_title title_section">イベントの<span class="underline_white"><br
                        class="sp">「宣伝・管理・運用・開催」</span>を<span class="block"><br class="">まとめて簡潔に</span></h1>
                <h3 class="subtitle__section">あなただけの<br>イベントページを<span class="underline">手軽</span>に<br class="sp">つくれます
                </h3>
                <div class="about_container">
                    <div class="about_box">
                        <p>①</p>
                        <img src="/images/pre-register-top/search_templates.svg" alt="テンプレートから検索">
                        <h4>豊富なテンプレート<br>からぴったりなものを</h4>
                    </div>
                    <div class="about_box">
                        <p>②</p>
                        <img id="page1" src="/images/pre-register-top/blogger.svg" alt="直感的な操作">
                        <h4>直感的な操作で<br>カスタマイズ</h4>
                    </div>
                    <div class="about_box">
                        <p>③</p>
                        <img src="/images/pre-register-top/complete.svg" alt="完成">
                        <h4>イベントページ完成！<br>あとは開催するだけ</h4>
                    </div>
                </div>
                <h3 class="subtitle__section bg">つくったページで<br class="sp">イベントに関する<br><span
                        class="underline">あらゆること</span>が<br class="sp">出来ます</h3>
                <div class="container_function">
                    <div class="box_function">
                        <img src="/images/pre-register-top/money.svg" alt="">
                        <h4>売上管理</h4>
                        <p>個別に参加費を回収する<br>手間が省ける</p>
                    </div>
                    <div class="box_function">
                        <img src="/images/pre-register-top/agenda.svg" alt="">
                        <h4>プロフィール機能</h4>
                        <p>顔が確認出来て<br>イベントの透明性UP</p>
                    </div>
                    <div class="box_function">
                        <img src="/images/pre-register-top/team.svg" alt="">
                        <h4>参加者管理</h4>
                        <p>プロフィールを把握して<br>スムーズな交流を</p>
                    </div>
                    <div class="box_function">
                        <img src="/images/pre-register-top/email.svg" alt="">
                        <h4>メッセージ機能</h4>
                        <p>必要事項の連絡や<br>ZOOMのURLの送信も</p>
                    </div>
                    <div class="box_function">
                        <img src="/images/pre-register-top/megaphone.svg" alt="">
                        <h4>宣伝機能</h4>
                        <p>イベイク内掲示から<br>SNSやGoogleまで対応</p>
                    </div>

                    <div class="box_function">
                        <img src="/images/pre-register-top/medal.svg" alt="">
                        <h4>評価機能</h4>
                        <p>参加者も安心して<br>イベントに参加できる</p>
                    </div>

                    <div class="box_function">
                        <img src="/images/pre-register-top/analytics.svg" alt="">
                        <h4>アクセス解析</h4>
                        <p>参加者に合わせて<br>イベントをカスタマイズ</p>
                    </div>
                    <div class="box_function">
                        <img src="/images/pre-register-top/calendar.svg" alt="">
                        <h4>タイムテーブル機能</h4>
                        <p>イベントに合わせて<br>タイムテーブルを作成</p>
                    </div>
                </div>
        </section>



        <section class="section_compare bg">
            <h2 class="title_section">イベイクで、<br class="sp">あなたのイベントは<br class="sp">こう変わる！</h2>
            <div class="container_compare bg">
                <div>
                    <h3 class="subtitle__section bg_before bg">今までは...</h3>
                    <p>開発ツールの<span class="font_weight_700">分離</span>による手間</p>
                    <p>差別化・宣伝が<span class="font_weight_700">難しい</span></p>
                    <p>開催準備の際の<span class="font_weight_700">情報不足</span></p>
                </div>
                <div>
                    <h3 class="subtitle__section bg_after bg">イベイクなら!</h3>
                    <p>ツールを全て<span class="font_weight_700">統合・シンプル</span>に</p>
                    <p>雰囲気の<span class="font_weight_700">可視化</span>と<span class="font_weight_700">口コミ</span>機能</p>
                    <p>参加者のプロフィールが<span class="font_weight_700">事前に</span>わかる</p>
                </div>
            </div>
        </section>
        <section>
            <h2 class="title_section">イベイクは<br class="sp">こんな時にオススメ</h2>
            <div class="container_scene bg">
                <div class="card_scene">
                    <h3>講演会・セミナー</h3>
                    <img src="/images/pre-register-top/presentation (1).svg" alt="講演会 セミナー">
                    <p>タイムテーブルを用意したり<br>フィードバックを確認出来る</p>
                </div>
                <div class="card_scene">
                    <h3>ビジネスイベント・交流会</h3>
                    <img src="/images/pre-register-top/meeting.svg" alt="ビジネスイベント 交流会">
                    <p>参加者の確認や連絡で<br>NextActionの実行につながる</p>
                </div>
                <div class="card_scene">
                    <h3>インフルエンサーイベント</h3>
                    <img src="/images/pre-register-top/woman.svg" alt="インフルエンサーイベント">
                    <p>イメージに合わせた宣伝や<br>参加者との交流が出来る</p>
                </div>
            </div>
        </section>

        <section class="register bg">
            <h2>2021年1月 β版公開予定<br>テストユーザー様募集中</h2>
            <div>
                <p>1.先着<span class="underline">100名(社)様</span>限定</p>
                <p>2.全ての機能が<span class="color">完全無料</span></p>
                <p>3.その他にもご優待を準備中</p>
            </div>
            <small>※テストバージョンでは、一部お使いいただけない機能がございます。<br>
                ※テストユーザーの方にはいくつか簡単なアンケートへのご協力をお願い致します。</small>
        </section>


    </main>
    <footer>
        <footer>
            <p class="copyright">&copy; 2020 株式会社ホロックス </p>
        </footer>
    </footer>

</body>

</html>